BUOI3/Bai2/2.3/orders.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root element -->
  <xs:element name="orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="order" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="product" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="quantity" type="xs:integer"/>
                  </xs:sequence>
                  <!-- Thuộc tính id của product -->
                  <xs:attribute name="id" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <!-- Thuộc tính id của order (duy nhất toàn cục) -->
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>

          <!-- Ràng buộc: id của product phải duy nhất trong mỗi order -->
          <xs:unique name="UniqueProductInOrder">
            <xs:selector xpath="product"/>
            <xs:field xpath="@id"/>
          </xs:unique>

        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
